server {
    listen 80;
    port_in_redirect off;

    server_name ~^(?<project_name>.+?)\.*(?<pool>{{item}}).{{root_domain}}$;
    
    include /usr/local/etc/nginx/dev.conf;
}

server {
    listen 443 http2 ssl;
    port_in_redirect off;
    
    server_name ~^(?<project_name>.+?)\.*(?<pool>{{item}}).{{root_domain}}$;
    
    ssl on;
    ssl_certificate {{ homebrew_install_path }}/etc/openssl/localCA/certs/{{item}}_{{root_domain}}_crt.pem;
    ssl_certificate_key {{ homebrew_install_path }}/etc/openssl/localCA/private/{{item}}_{{root_domain}}_key_encrypted.pem;
    
    include    /usr/local/etc/nginx/dev.conf;
}
