server {
    listen 127.0.0.1:80;
    port_in_redirect off;

    server_name ~^(?<project_name>.+?)\.+(?<pool>{{item}}).{{root_domain}}$;
    
    include {{ brew_install_path }}/etc/nginx/dev.conf;
}

server {
    listen 443 http2 ssl;
    port_in_redirect off;
    
    server_name ~^(?<project_name>.+?)\.+(?<pool>{{item}}).{{root_domain}}$;
    
    ssl on;
    ssl_certificate {{ brew_install_path }}/etc/openssl/localCA/certs/{{item}}.{{root_domain}}_crt.pem;
    ssl_certificate_key {{ brew_install_path }}/etc/openssl/localCA/private/{{item}}.{{root_domain}}_key_encrypted.pem;
    
    include {{ brew_install_path }}/etc/nginx/dev.conf;
}
