server {
    listen 127.0.0.1:80;
    port_in_redirect off;

    server_name ~^(?<project_name>.+?)\.(?<php_version>{{item.1}})\.+(?<pool>{{item.0}}).{{root_domain}}$;
    
    include {{ brew_install_path }}/etc/nginx/dev.conf;
}

server {
    listen 127.0.0.1:443 http2 ssl;
    port_in_redirect off;

    server_name ~^(?<project_name>.+?)\.(?<php_version>{{item.1}})\.+(?<pool>{{item.0}}).{{root_domain}}$;

    ssl_certificate {{ brew_install_path }}/etc/openssl/localCA/certs/{{item.1}}_{{item.0}}_{{root_domain}}_crt.pem;
    ssl_certificate_key {{ brew_install_path }}/etc/openssl/localCA/private/{{item.1}}_{{item.0}}_{{root_domain}}_key_encrypted.pem;
    
    include    {{ brew_install_path }}/etc/nginx/dev.conf;
}
