---
#- name: Ensure php taps are tapped.
#  homebrew_tap: "tap={{ item }} state=present"
#  with_items:
#    - "mongodb/brew"
#
#- name: "Ensure mongodb"
#  homebrew:
#    name: {{ mongodb_formula_name }}
#    state: present

- name: "Ensure mongodb"
  homebrew:
    name: "{{ mongodb_formula_name }}"
    state: latest

- name: Resolve mongodb_path
  shell: "{{ brew_brew_bin_path }}/brew --prefix {{ mongodb_formula_name }}"
  register: output

- name: Register mongodb_path
  set_fact:
    mongodb_path: "{{ output.stdout | trim }}"

- name: "Create {{ brew_install_path }}/etc/supervisor.d/mongodb.ini"
  template:
    src: supervisord.ini.j2
    dest: "{{ brew_install_path }}/etc/supervisor.d/mongodb.ini"

- name: "Adding mongodb to PATH in {{ brew_user_home_dir }}/{{item}}"
  blockinfile:
    dest: '{{ brew_user_home_dir }}/{{item}}'
    marker: "# {mark} mongodb"
    block: |
      export PATH="{{ mongodb_path }}/bin:$PATH"
  with_items: ['.zshrc', '.bashrc']

- name: "Starting mongodb"
  shell: "nohup {{ mongodb_path }}/bin/mongod --config {{ brew_install_path }}/etc/mongod.conf --logpath /tmp/mongodb.log > /dev/null &"
  args:
    chdir: /tmp

- name: "Waiting mongodb"
  shell: timeout 60s bash -c "until grep 'waiting for connections on port' /tmp/mongodb.log; do sleep 1; done"
  args:
    chdir: /tmp

- name: "Ensure internalQueryExecMaxBlockingSortBytes with 100302864"
  shell: "echo 'db.adminCommand({setParameter: 1, internalQueryExecMaxBlockingSortBytes:100302864})' | {{ mongodb_path }}/bin/mongo admin"

- name: "Ensure setParameter.internalQueryExecMaxBlockingSortBytes: 100302864 in {{ brew_install_path }}/etc/mongod.conf"
  shell: "yq eval '.setParameter.internalQueryExecMaxBlockingSortBytes 100302864' {{ brew_install_path }}/etc/mongod.conf > {{ brew_install_path }}/etc/mongod.conf.tmp && mv {{ brew_install_path }}/etc/mongod.conf.tmp {{ brew_install_path }}/etc/mongod.conf"
#
#- name: "Ensure internalQueryExecMaxBlockingSortBytes with 100302864"
#  yedit:
#    src: "{{ brew_install_path }}/etc/mongod.conf"
#    key: setParameter
#    value:
#      internalQueryExecMaxBlockingSortBytes: "100302864"

- name: "Stopping mongod"
  shell: "pgrep mongod | xargs kill -15"
