#!/bin/sh 
dir="{{ brew_user_home_dir }}/mail"
[[ -d $dir ]] || mkdir -p $dir
name="$dir/$(/bin/date +"%s")_$(/usr/bin/head /dev/urandom | (/sbin/md5 || /usr/bin/md5sum) 2>/dev/null | /usr/bin/cut -c1-8).eml"
while read line 
do 
echo $line >> $name 
done 
chmod 0666 $name
