[program:mongodb]
command={{ mongodb_path }}/bin/mongod --config {{ brew_install_path }}/etc/mongod.conf
directory={{ brew_install_path }}
stdout_logfile={{ brew_install_path }}/var/log/supervisor/mongod.log
stderr_logfile={{ brew_install_path }}/var/log/supervisor/mongod.err
autorestart=true
user={{ www_user }}
