[PHP]
short_open_tag=off
detect_unicode=off
max_execution_time = 900
memory_limit = 4G
upload_max_filesize = 256M
post_max_size = 256M
display_errors=on
error_reporting=E_ALL
max_input_vars = 100000
mysqli.default_socket = /usr/local/var/run/mysqld/mysqld.sock
pdo_mysql.default_socket = /usr/local/var/run/mysqld/mysqld.sock
sendmail_path = /usr/local/bin/fake_sendmail.sh
 
[Date]
date.timezone=UTC
 
