<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.logrotate</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ brew_install_path }}/opt/logrotate/sbin/logrotate</string>
      <string>{{ brew_install_path }}/etc/logrotate.conf</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>12</integer>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
