[program:php72-fpm]
command={{ homebrew_install_path }}/opt/php72/sbin/php-fpm --nodaemonize --fpm-config {{ homebrew_install_path }}/etc/php/7.2/php-fpm.conf
stdout_logfile={{ homebrew_install_path }}/var/log/php72.log
stderr_logfile={{ homebrew_install_path }}/var/log/php72.err
autorestart=true

[program:php72-fpm-xdebug]
command={{ homebrew_install_path }}/opt/php72/sbin/php-fpm --nodaemonize --fpm-config {{ homebrew_install_path }}/etc/php/7.2/php-fpm-xdebug.conf
stdout_logfile={{ homebrew_install_path }}/var/log/php72-xdebug.log
stderr_logfile={{ homebrew_install_path }}/var/log/php72-xdebug.err
autorestart=true
