[Unit]
Description=Supervisord for Devbrew Environment

[Service]
User=root
Group=root
ExecStart={{ supervisord_path }} -u {{ brew_user }} -c {{ brew_install_path }}/etc/supervisord.ini --nodaemon
Restart=always

[Install]
WantedBy=multi-user.target
