[program:{{ mysql_supervisord_name }}]
command={{ mysql_base_dir }}/bin/mysqld_safe --defaults-file={{ mysql_etc_dir }}/my.cnf
directory=/usr/local/var
stdout_logfile={{ mysql_log_dir }}/mysql.log
stderr_logfile={{ mysql_log_dir }}/mysql.err
autorestart=true
