server {
    listen 127.0.0.1:80 default_server;
    port_in_redirect off;

    server_name ~^(?<project_name>.+?)\.(?<php_version>[0-9]*)\.*(?<pool>\w+)$;
    
    include {{ brew_install_path }}/etc/nginx/dev.conf;
}
