#!/bin/bash

function usage {
  echo "Usage: $0 add|remove  <hostname> [project_name] [pool_name]"
  echo "Example #1: $0 add <hostname> [project_name] [pool_name]"
  echo "Example #2: $0 delete <hostname>"
  exit 1
}

if [[ -z $2 ]]; then
  usage
else 
  export HOSTNAME=$2;
fi

if ! [[ $2 =~ "[a-z0-9_\-]+\.[a-z0-9_\-]+$" ]]; then
  echo "Hostname must contain 1st and 2nd levels"
  exit 1
fi

if [[ -z $3 ]]; then
  export PROJECT_NAME=$(echo $1 | awk -F. '{print $1}')
fi

if [[ -z $4 ]]; then
  export POOL_NAME=$(echo $1 | awk -F. '{ for (i=NF-2;i>0;i--){ printf "%s", $(NF-i) "." }; printf "%s", $(NF)}')
fi

case "$1" in
"add")
    add_hostname
    ;;
"remove")
    remove_hostname
    ;;
*)
    usage
    ;;
esac

function add_hostname {
  echo "Creating webserver record for $1 hostname"
  
  crtgen "${HOSTNAME}"
  
  if [[ -f "{{ homebrew_install_path }}/etc/nginx/servers_custom/${HOSTNAME}.conf" ]]; then
    echo "Hostname already exists";
    exit 0
  fi
  
  gomplate -f "{{ homebrew_install_path }}/etc/nginx/custom_server.conf.tpl" --left-delim '<?' --right-delim '?>' -o "{{ homebrew_install_path }}/etc/nginx/servers_custom/${HOSTNAME}.conf"
  
  echo "Please restart nginx"
}

function remove_hostname {
  echo "Creating webserver record for $1 hostname"
  
  rm "{{ homebrew_install_path }}/etc/nginx/servers_custom/${HOSTNAME}.conf"
  
  echo "Please restart nginx"
}
