[program:efk-elasticsearch]
command={{ brew_install_path }}/opt/elasticsearch/bin/elasticsearch
environment=ES_PATH_CONF={{ brew_install_path }}/etc/efk/elasticsearch"
directory={{ brew_install_path }}/etc/efk/elasticsearch
stdout_logfile={{ brew_install_path }}/var/log/efk/elasticsearch.log
stderr_logfile={{ brew_install_path }}/var/log/efk/elasticsearch.err
stderr_logfile_maxbytes=5MB
stdout_logfile_maxbytes=5MB
user={{ brew_user }}
autostart=false
autorestart=true
priority:100

[program:efk-td-agent]
command=/opt/td-agent/usr/sbin/td-agent --config {{ brew_install_path }}/etc/efk/td-agent/td-agent.conf --use-v1-config
directory=/opt/td-agent/
stdout_logfile={{ brew_install_path }}/var/log/efk/td-agent.log
stderr_logfile={{ brew_install_path }}/var/log/efk/td-agent.err
stderr_logfile_maxbytes=5MB
stdout_logfile_maxbytes=5MB
user={{ brew_user }}
autostart=false
autorestart=true

[program:efk-kibana]
command={{ brew_install_path }}/opt/kibana/bin/kibana --config {{ brew_install_path }}/etc/efk/kibana/kibana.yml
stdout_logfile={{ brew_install_path }}/var/log/efk/kibana.log
stderr_logfile={{ brew_install_path }}/var/log/efk/kibana.err
stderr_logfile_maxbytes=5MB
stdout_logfile_maxbytes=5MB
user={{ brew_user }}
autostart=false
autorestart=true

#[eventlistener:efk-curator]
#command={{ brew_install_path }}/bin/supervisor-listener {{ brew_install_path }}/bin/curator --config {{ brew_install_path }}/etc/efk/curator/curator.yml > {{ brew_install_path }}/var/log/efk/curator.log
#events=TICK_3600
#stderr_logfile={{ brew_install_path }}/var/log/efk/curator.err
#stderr_logfile_maxbytes=5MB
#user={{ brew_user }}

[group:efk]
programs=efk-elasticsearch,efk-td-agent,efk-kibana
priority:100
