[program:{{ mysql_supervisord_name }}]
command={{ homebrew_install_path }}/bin/pidproxy /usr/local/var/run/mysql/{{ mysql_version_num }}/mysqld.pid {{ mysql_base_dir }}/bin/mysqld_safe --defaults-file={{ mysql_etc_dir }}/my.cnf --pid-file=/usr/local/var/run/mysql/{{ mysql_version_num }}/mysqld.pid
directory=/usr/local/var
stdout_logfile={{ homebrew_install_path }}/var/log/supervisor/{{ mysql_supervisord_name }}.log
stderr_logfile={{ homebrew_install_path }}/var/log/supervisor/{{ mysql_supervisord_name }}.err
autorestart=true
user={{ mysql_user }}
#stopasgroup=true
