user  {{ www_user }} {{ www_group }};
worker_processes auto;

error_log {{ homebrew_install_path }}/var/log/nginx/error.log;
error_log {{ homebrew_install_path }}/var/log/nginx/error.log  notice;
error_log {{ homebrew_install_path }}/var/log/nginx/error.log  info;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    include servers/*.conf;
    include servers_custom/*.conf;
    include conf.d/*.conf;
}
