[program:nginx]
command={{ homebrew_install_path }}/bin/pidproxy {{ homebrew_install_path }}/var/run/nginx.pid {{ homebrew_install_path }}/opt/nginx/bin/nginx -g "daemon off;"
directory={{ homebrew_install_path }}
stdout_logfile={{ homebrew_install_path }}/var/log/supervisor/nginx.log
stderr_logfile={{ homebrew_install_path }}/var/log/supervisor/nginx.err
autorestart=true
#stopasgroup=true
