[PHP]
short_open_tag=off
detect_unicode=off
max_execution_time = 900
memory_limit = 4G
upload_max_filesize = 256M
post_max_size = 256M
display_errors=on
error_reporting=E_ALL
max_input_vars = 100000
 
[Date]
date.timezone=UTC
 
[Opcache]
opcache.enable=1
opcache.enable_cli=0
opcache.memory_consumption=256
opcache.max_accelerated_files=32531
opcache.interned_strings_buffer=32
opcache.revalidate_freq=0
opcache.fast_shutdown=0
