[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = {{item.1}}_{{item.0}}_{{root_domain}}
stateOrProvinceName = NSW
countryName = AU
emailAddress = root@localhost
organizationName = Localhost
organizationalUnitName = Local Development Environment

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = *.{{ item.1 }}.{{ item.0 }}.{{root_domain}}
DNS.1 = {{ item.1 }}.{{ item.0 }}.{{root_domain}}
