[program:{{ php_version }}-fpm]
command={{ brew_install_path }}/opt/{{ php_version }}/sbin/php-fpm --nodaemonize --fpm-config {{ brew_install_path }}/etc/php/{{ php_version_num }}/php-fpm.conf
directory={{ brew_install_path }}/opt/{{ php_version }}
stdout_logfile={{ brew_install_path }}/var/log/supervisor/{{ php_version }}.log
stderr_logfile={{ brew_install_path }}/var/log/supervisor/{{ php_version }}.err
user={{ www_user }}
autorestart=true
stopasgroup=true

[program:{{ php_version }}-fpm-xdebug]
command={{ brew_install_path }}/opt/{{ php_version }}/sbin/php-fpm --nodaemonize --fpm-config {{ brew_install_path }}/etc/php/{{ php_version_num }}/php-fpm-xdebug.conf -c {{ brew_install_path }}/etc/php/{{ php_version_num }}/php-xdebug.ini
directory={{ brew_install_path }}/opt/{{ php_version }}
stdout_logfile={{ brew_install_path }}/var/log/supervisor/{{ php_version }}-xdebug.log
stderr_logfile={{ brew_install_path }}/var/log/supervisor/{{ php_version }}-xdebug.err
user={{ www_user }}
autorestart=true
stopasgroup=true

[group:{{ php_version }}]
programs={{ php_version }}-fpm,{{ php_version }}-fpm-xdebug
