<source>
  @type tail
  format multiline
  tag php.error
  path {{ brew_install_path }}/var/log/php/{{ php_version_num }}/error.log
  pos_file {{ brew_install_path }}/var/log/php/{{ php_version_num }}/error.log.pos
  read_from_head false
  time_format %d-%b-%Y %H:%M:%S %Z
  multiline_flush_interval 2s
  format_firstline /\[(?<time>\d{2}\-\w{3}\-\d{4}\s\d{2}:\d{2}:\d{2}\s\w+)\].+in\s(?<file>.+\.php):(?<line>\d+)\n/
  format1 /\[(?<time>\d{2}\-\w{3}\-\d{4}\s\d{2}:\d{2}:\d{2}\s\w+)\]\s(?<message>.+)\sin\s(?<file>.+\.php):(?<line>\d+)\n/
  format2 /(?<stack_trace>.+)/
</source>

<filter php.*>
  @type record_transformer
  enable_ruby true
  <record>
    @target_index logs_php
    stream php_error
    php_version {{ php_version_num }}
  </record>
</filter>
