---
- git:
    repo: "https://github.com/SergeyCherepanov/xhgui.git"
    dest: "{{ homebrew_install_path }}/opt/xhgui"
    version: "master_20180417"
  tags:
    - always

- name: "Install xhprof extension"
  shell: >
    {{ homebrew_install_path }}/bin/php71 {{ homebrew_install_path }}/bin/composer install
  args:
    chdir: "{{ homebrew_install_path }}/opt/xhgui"
  tags:
    - php72

- name: "Ensure {{ homebrew_install_path }}/etc/nginx/servers/xhgui.conf"
  template:
    src: nginx.xhgui.conf.j2
    dest: "{{ homebrew_install_path }}/etc/nginx/servers/xhgui.conf"
  tags:
    - always

- name: "Ensure xhgui.local in /etc/hosts"
  lineinfile:
    path: '/etc/hosts'
    line: '127.0.0.1    xhgui.local'
  become: yes
  tags:
    - always
