---
- name: "Resolving mongo path"
  shell: "echo $(brew --prefix mongodb36)"
  register: mongo_path_output

- name: "Register mongo_bin_path fact"
  set_fact: mongo_bin_path="{{ mongo_path_output.stdout }}/bin/mongo"

- name: Absent previous installed xhgui
  file:
    path: "{{ brew_install_path }}/opt/xhgui"
    state: absent

- name: "Configure xhgui db"
  shell: >
    {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'meta.SERVER.REQUEST_TIME' : -1 } );" xhgui \
    && {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'profile.main().wt' : -1 } );" xhgui \
    && {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'profile.main().mu' : -1 } );" xhgui \
    && {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'profile.main().cpu' : -1 } );" xhgui \
    && {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'meta.url' : 1 } );" xhgui \
    && {{ mongo_bin_path }} --eval "db.results.ensureIndex( { 'meta.simple_url' : 1 } );" xhgui

- name: Ensure xhgui
  git:
    repo: "https://github.com/perftools/xhgui.git"
    dest: "{{ brew_install_path }}/opt/xhgui"
    version: "master"

- name: "Install xhgui"
  shell: >
    php {{ brew_install_path }}/bin/composer install
  args:
    chdir: "{{ brew_install_path }}/opt/xhgui"

- name: "Ensure {{ brew_install_path }}/etc/nginx/servers/xhgui.conf"
  template:
    src: nginx.xhgui.conf.j2
    dest: "{{ brew_install_path }}/etc/nginx/servers/xhgui.conf"

- name: "Ensure {{ brew_install_path }}/opt/xhgui/config/config.php"
  template:
    src: config.php.j2
    dest: "{{ brew_install_path }}/opt/xhgui/config/config.php"

- name: "Ensure xhgui.local in /etc/hosts"
  lineinfile:
    path: '/etc/hosts'
    line: '127.0.0.1    xhgui.local'
  become: yes
