[program:dnsmasq]
command={{ brew_install_path }}/opt/dnsmasq/sbin/dnsmasq --keep-in-foreground -C {{ brew_install_path }}/etc/dnsmasq.conf
directory={{ brew_install_path }}/opt/dnsmasq
stdout_logfile={{ brew_install_path }}/var/log/supervisor/dnsmasq.log
stderr_logfile={{ brew_install_path }}/var/log/supervisor/dnsmasq.err
autorestart=true
stopasgroup=true
